<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LyfEscape.com</title>


    <!-- CSS style sheet -->
    <link rel="stylesheet" href="css/home.css">

    <!-- IconScout -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Caprasimo&family=Chela+One&family=Merriweather&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,800;1,900&family=Sacramento&family=Ubuntu&display=swap" rel="stylesheet">

    <!-- FEVICON -->
    <link rel="icon" href="images/favicon.png">

</head>
<body>
    <!-- NAV BAR -->
    <nav>
        <div class="container nav__container">
            <a href="/" class="nav__logo">LyfEscape.com</a>
            <ul class="nav__items">
                <li><a href="/api/posts/">Blogs</a></li>
                <% if (locals.user) { %>
                <li><a href="/api/users/<%= user._id%>">Dashboard</a></li>
                <li><a href="/api/users/logout">Logout</a></li>
                <li class="nav__profile">
                    <div class="avatar">
                        <a href="/api/users/profile/<%- user._id %>" ><img src="<%= user.profilePhoto%>"></a>
                    </div>
                </li>
                <% } else { %>
                    <li><a href="/api/users/login">Login</a></li>
                <% } %>       
            </ul>

            <button id="open_nav-btn"><i class="fa-solid fa-bars" style="color: #2b5eb6;"></i></button>
            <button id="open_nav-btn"></button>
        </div>
    </nav>


    <!-- FEATURE PANEL -->

    <section class="featured">
        <% if(mostViews!= '' ) { %>
            <% mostViews.forEach((mostViewed,index)=>{ %>
        <div class="container feature__container">
            <div class="post__thumbnail">
                <img src="<%- mostViewed.image %>" alt="">
            </div>
            <div class="post__info">
                <a href="" class="category__button"><%- mostViewed.category %></a>
                <h2 class="post__title"><a href="<% /api/posts/<%= mostViewed._id %>"><%- mostViewed.title %></a></h2>
                <p class="post__body">
                    <%- mostViewed.description.substring(0,500) %>...
                </p>
                <div class="post__author">
                    <div class="post__author-avatar">
                        <img src="<%= mostViewed.user.profilePhoto %>" alt="">
                    </div>
                    <div class="post__author-info">
                        <a href="/api/users/profile/<%- mostViewed.user._id %>">
                        <h5>By: <%- mostViewed.user.userName %></h5>
                        <small><%= moment(mostViewed.createdAt).format('hh:mm a DD MMM YYYY') %></small>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <% }) %>
        <% } %>
    </section>


    <!-- POST SECTION -->
    
    <section class="post">
        <div class="conatiner posts__container">
            <% if(posts!= '' ) { %>
                <% posts.forEach((post,index)=>{ %>
            <article class="post">
                <div class="post__thumbnail">
                    <img src="<%- post.image%>" alt="post pic">
                </div>
                <div class="post__info">
                    <a href="/api/posts/<%= post._id %>">
                    <a href="" class="category__button"><%- post.category %></a>
                    <a href="/api/posts/<%= post._id %>"><h3 class="post__title"><%- post.title %></h3> </a>
                    <p class="post__body"><%- post.description.substring(0,200)%>...</p>
                    <div class="post__author">
                        <div class="post__author-avatar">
                            <img src="<%= post.user.profilePhoto %>" alt="profile pic">
                        </div>
                    </a>
                    <a href="/api/users/profile/<%- post.user._id %>">
                        <div class="post__author-info">
                            <h5>By: <%- post.user.userName %></h5>
                            <small><%= moment(post.createdAt).format('hh:mm a DD MMM YYYY') %></small>
                        </div>
                    </a>
                    </div>
                </div>
            </article>
            <% }) %>
            <% } %>
        </div>
    </section>


    <!-- CATEGORY BUTTONS -->

    <section class="category__buttons">
        <div class="container category__buttons-container">
            <% if(categories!= '' ) { %>
                <% categories.forEach((category,index)=>{ %>
                    <a href="" class="category__button"><%- category.title %></a>
                <% }) %>
            <% } %>
        </div>
    </section>


    <!-- ABOUT -->

    <footer>
        <div class="footer__socials">
            <a href="" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            <a href="" target="_blank"><i class="fa-brands fa-github"></i></a>
            <a href="" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="" target="_blank"><i class="fa-brands fa-twitter"></i></a>
        </div>
        <div class="container footer__container">
            <article>
                <h4>Categories</h4>
                <ul>
                    <% if(categories!= '' ) { %>
                        <% categories.forEach((category,index)=>{ %>
                            <li><a href=""><%- category.title %></a></li>
                        <% }) %>
                    <% } %>
                </ul>
            </article>
            <article>
                <h4>Support</h4>
                <ul>
                    <li><a href="">Online Number</a></li>
                    <li><a href="">Call Numbers</a></li>
                    <li><a href="">Email</a></li>
                    <li><a href="">Social Support</a></li>
                    <li><a href="">Location</a></li>
                </ul>
            </article>
            <article>
                <h4>Blogs</h4>
                <ul>
                    <li><a href="">Safety</a></li>
                    <li><a href="">Repair</a></li>
                    <li><a href="">Recent</a></li>
                    <li><a href="">Popular</a></li>
                    <li><a href="">Categories</a></li>
                </ul>
            </article>
            <article>
                <h4>Permalinks</h4>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Services</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </article>
        </div>
        <div class="footer__copyright">
            <small>Copyright &copy; BYTEBRIGADE</small>
        </div>
        
    </footer>

    <script src="js/main.js"></script>
</body>
</html>